*{
    margin: 0;
    padding: 0;
    block-size: border-box;
}

html,body{
    min-height: 100%;
    width: 100%;
}

main{
    padding: 2vh min(2vw,10px);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#productsContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: max-content;
    background-color: green;
}
#productsContainer .card-horizontal{
    
}
#productsContainer .card-hori-image-container img{
    object-fit: contain;
}
.star{
    color: orange;
}